html,body,header,main, footer{
    background-color:black;
}   
.Texto{
    background-color: blue;
}
.conteudo{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10%;
}
